<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%m%n" />
		</Console>
	</Appenders>
	<RollingFile name="File"
		fileName="${basePath}/scc-info.log"
		filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
		<PatternLayout>
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
			</pattern>
		</PatternLayout>
		<Policies>
			<TimeBasedTriggeringPolicy interval="1"
				modulate="true" />
		</Policies>
	</RollingFile>
	<Loggers>
		<Root level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Root>
		<Logger name="de.mortensenit" level="debug" additivity="false">
			<AppenderRef ref="File" />
		</Logger>
	</Loggers>
</Configuration>